@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
html {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
}

@layer components {
    .btn {
        @apply px-6 py-2 text-black font-bold border-2 border-b-4 border-black transition-transform duration-200 transform hover:translate-y-[-2px] active:translate-y-[1px] active:border-b-[2px] active:mb-[2px] shadow-md rounded-full focus:outline-none flex items-center gap-2
    }

    .card {
        @apply rounded-2xl shadow-md overflow-hidden border-2 border-b-4 border-black max-w-xs min-h-[400px] mx-auto md:mx-0 font-raleway text-[#191817]
    }
}
